@font-face {
    font-family: 'open_sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizong:border-box;
}

body{
	font-family:open_sans;
	font-weight:normal;
	background:#f5f5fc;
	color:#333;
}

#header:before, #logo:before{
	display:inline-block;
	content:'';
	height:100%;
	vertical-align:middle;
}

#header{
	width:100%;
	height:50px;
	background:#f5f5f5;
	vertical-align:middle;
	padding:0;
	position:relative;
	box-shadow:0 0 2px 0 rgba(0, 0, 0, .5);
	z-index:1000;
}

#logo, #title, #menu, #logo img{
	display:inline-block;
	vertical-align:middle;
	color:#666;
}

#logo{
	margin:0 10px 0 0;
	padding:0 10px;
	height:100%;
	background:#27ae53;
}

#title h1{
	font-weight:normal;
	margin:0;
	font-size:1.25em;
}

#menu{
	margin-right:5px;
}

.title{
	margin:0;
	background:#71c78d;
	color:#fff;
	font-size:16px;
	padding:5px 10px;
	margin:0 0 14px;
}

#navigation{
	position:absolute;
	z-index:-10000;
	width:100%;
	margin:0;
}

#navigation .inactive{
	display:none;
}

#menu-sel{
	margin:0;
	padding:0;
}

#menu-sel li{
	background:#71C78D;
	border-bottom:1px solid #fff;
	width:100%;
	text-transform:none;
}

#menu-sel a{
	display:block;
	text-decoration:none;
	width:100%;
	padding:10px;
	color:#fff;
}

#body-content{
	background:#fff;
}

#content p{
	margin: 16px;
	font-size: 16px;
}

#donor{
	font-size: 24px;
	font-weight:bold;
}

#sector{
	font-size:18px;
	color:#666;
}

#projects{
	width: 80%;
	margin:20px 10px;
	color:#333;
}

#donor, #sector, #project_name{
	margin:5px 10px;
}

#location, #start_date, #project_cost, #beneficiary, #cost_per_beneficiary{
	height:60px;
	padding:15px 0 15px 60px;
	margin:10px;
	vertical-align: middle;
}

#location{
	background: url('../images/location.png') no-repeat;
}

#start_date{
	background: url('../images/calendar.png') no-repeat;
}

#project_cost{
	background: url('../images/dollar.png') no-repeat;
}

#beneficiary{
	background: url('../images/beneficiaries.png') no-repeat;
}

#cost_per_beneficiary{
	background: url('../images/cost_per_person.png') no-repeat;
}

#content{
	padding-bottom: 50px;
}

#start_date, #end_date{
	display: inline-block;
}

#container{
	width:940px;
	margin:0 auto;
	position: relative;
	max-width: 100%;
}

#about ul{
	margin:0;
	padding:10px;
}

#about ul li{
	list-style: none;
	text-decoration:none;
}

#about a{
	text-decoration: none;
}

#github, #contact-us, #google-play{
	display: inline-block;
	padding:10px;
}

.name{
	display: inline-block;
	margin: 10px 5px;
	background:#f5f5f5;
}

.name a{
	color:#666;
	padding:5px;
	width:75px;
	display: block;
	text-align:center;
}

.name a:hover{
	background:#71C78D;
	color:#fff;
}

#bar_donors, #bar_sectors, #bar_projects{
	margin:0 0 20px;
}