	<div class="title">About</div>
	<p>Cost Beneficiary is  awarded project of Open Aid Data Bootcamp organized by World Bank, Open Nepal and Open Aid Partnership on 28<sup>th</sup> and 29<sup>th</sup> April.  Cost beneficiary is derived as ratio of project cost to the number of beneficiaries of the particular donor funded projects in diverse sectors.  For this purpose, World Bank has been selected as it is one of the largest donor agencies for Nepal. The required data for this project were collected and extracted from the most of the implementation status and complete report of World Bank projects. </p>
	<div id="about">
		<ul>
			<li id="google-play" ><a target="_blank" href="https://play.google.com/store/apps/details?id=com.cost_beneficiary.app"><img src="images/google_play_store.png"></a></li>	
			<li id="contact-us"><a target="_blank" href="mailto:mail@bctians.com"><img src="images/email.png"></a></li>
			<li id="github" ><a target="_blank" href="https://github.com/deepsadhi/Cost-Beneficiary"><img src="images/github.png"></a></li>
			<ul>
				<li class="name" ><a target="_blank" href="http://about.me/mishraashmita" >Ashmita</a></li>
				<li class="name" ><a target="_blank" href="http://about.me/ayushmaharjan">Ayush</a></li>
				<li class="name" ><a target="_blank" href="http://about.me/deepsadhi">Deepak</a></li>
				<li class="name" ><a target="_blank" href="http://about.me/kshitiztiwari">Kshitiz</a></li>
				<li class="name" ><a target="_blank" href="http://about.me/manisapanta">Manisha</a></li>
				<li class="name" ><a target="_blank" href="http://about.me/sujata.shrestha">Sujata</a></li>
			</ul>
		</ul>
	</div>
