			<h1 class="title">Donors</h1>
			<div id="bar_donors" ></div>
			<h1 class="title">Sectors</h1>
			<div id="bar_sectors"></div>
			<h1 class="title">Projects</h1>
			<div id="bar_projects"></div>
			<pre id="tsv_donors" style="display:none"></pre>
			<pre id="tsv_sectors" style="display:none"></pre>
			<pre id="tsv_projects" style="display:none"></pre>
			<script type="text/javascript">
				plot('donors');
				plot('sectors');
				plot('projects');
			</script>