
			<select id="projects">
			</select>
			<div id="donor"></div>
			<div id="sector"></div>
			<div id="project_name"></div>
			<div id="location"></div>
			<div id="start_date"></div> - <div id="end_date"></div>
			<div id="project_cost"></div>
			<div id="beneficiary"></div>
			<div id="cost_per_beneficiary"></div>

			<script>

					    $('#projects').change(function(){
			loadProject('projectid='+this.value);	
		    });
		    loadOptions('projectlist', 'projects');	
		    loadProject('projectid=1');
   			</script>
